p,
li {
  font-size: 1.2em;
}

p,
p img,
ol,
ul {
  margin-bottom: 15px;
}
.author,
.date {
  margin-top: 5px;
}
.author div {
  font-size: 0.9em;
  font-style: normal;
  font-weight: 600;
}

.date em {
  font-size: 0.7em;
  font-style: normal;
  font-weight: 400;
}

h3,
h4 {
  margin-top: 20px;
}

.footnotes li {
  font-size: 0.8em;
}

blockquote {
  font-size: 0.9em;
}
