html {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
}
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
p,
li {
  font-size: 1.1em;
}

p,
p img,
ol,
ul {
  margin-bottom: 15px;
}
.author,
.date {
  margin-top: 5px;
}
.author {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 0px;
}

.date {
  font-size: 0.9em;
  font-weight: 300;
  margin-bottom: 20px;
}

h3,
h4 {
  margin-top: 20px;
}

.footnotes li {
  font-size: 0.8em;
}

blockquote {
  font-size: 0.9em;
}

.completed {
  color: darkgrey;
  /* text-decoration: underline overline wavy rgb(192, 192, 207); */
}
