body {
  /* font-family: "PT Serif", Georgia, "Times New Roman", serif; */
  line-height: 1.7em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans Narrow", sans-serif;
}
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
  background-color: #f7f7f7;
}
.sourceCode {
  /* margin:0px; */
}
p,
li {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}

p,
p img,
ol,
ul {
  margin-bottom: 15px;
}
.author,
.date {
  margin-top: 5px;
}
.author {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 0px;
}

.date {
  font-size: 0.9em;
  font-weight: 300;
  margin-bottom: 20px;
}

h3,
h4 {
  margin-top: 20px;
}

.footnotes li {
  font-size: 0.8em;
}

blockquote {
  font-size: 0.9em;
}

.completed {
  /* background-color: lightgrey; */
  /* text-decoration: underline overline wavy rgb(192, 192, 207); */
}

.highlight {
  background-color: #fef2cc;
  padding: 2px 4px 2px 4px;
  border-radius: 6px;
}

.emphasize {
  background-color: rgba(34, 34, 51, 0.8);
  color: rgb(107, 165, 252);
  padding: 2%;
  margin-bottom: 8px;
  margin-top: 1px;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
